<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Poppins', sans-serif;
                color: black;
            }
    
            .button {
                background: #6246ea;
                padding: 10px 20px;
                color: #fffffe;
                text-decoration: none;
                border-radius: 10px;      
            }

            .url {
                color: blue;
            }
    
            span {
                font-weight: bold;
                color: black;
                text-decoration: none;
            }
    
            p {
                margin-top: 1.75rem;
                margin-bottom: 1.75rem;
            }
        </style>
    </head>
    <body>
        <%- include('./includes/header.ejs') %>
        <div>
            <h1>Reset your password</h1>
            <p>You requested to reset your password for <span><%= email %></span>. Click the button to reset your password.</p>
            <a class="button" href="<%= link %>">Reset Password</a>
            <p>Or copy and paste this link into your browser</p>
            <a class="url" href="<%= link %>"><%= link %></a>
        </div>
        <%- include('./includes/footer.ejs') %>
    </body>
</html>

