<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Poppins', sans-serif;
                color: black;
            }
    
            .button {
                background: #6246ea;
                padding: 1rem 2rem;
                color: #fffffe;
                text-decoration: none;
                border-radius: 10px;      
            }
    
            span {
                font-weight: bold;
                color: black;
                text-decoration: none;
            }
    
            p {
                margin-top: 1.75rem;
                margin-bottom: 1.75rem;
            }
        </style>
    </head>
    <body>
        <%- include('./includes/header.ejs') %>
        <div>
            <h1>Verify Your Email Address</h1>
            <h2>Hi, <%= firstName %></h2>
            <p>You registered through Out of the Chat with <span><%= email %></span>. Please verify this email address by clicking the button below.</p>
            <a class="button" href="<%= link %>">Verify your email</a>
            <p>Or copy and paste this link into your browser</p>
            <a href="<%= link %>"><%= link %></a>
        </div>
        <%- include('./includes/footer.ejs') %>
    </body>
</html>

